@import '../../assets/styles/vars.scss';

.container {
    background-color: #E3FF34;
    width: min(22.25vw, 356px);
    height: min(3.75vw, 50px);
    border-radius: min(3.13vw, 50px);
    border: min(3.25vw, 4px) solid;
    border-color: rgba(255, 255, 255, 0.6);
    font-size: $size16px;
    font-family: $GMedium;
    transition: box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 16px rgba(227, 255, 52, 0.4); // полупрозрачная тень
    }
}

@media (max-width: 375px) {
    .container {
        width: min(80.8vw, 303px);
        height: min(16vw, 60px);
        border-radius: min(13.33vw, 50px);
        font-size: min(4.27vw, 16px);
    }
}