@import '../../assets/styles/vars.scss';

.container {
    margin-top: min(7.5vw, 120px);
    display: flex;
    align-items: center;
    justify-self: center;
    &_inner {
        width: min(73.75vw, 1180px);
        height: min(26.81vw, 429px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #103133;
        background-image: url('./assets/footer_img.png');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: min(2.5vw, 40px);
        padding-top: min(4.38vw, 70px);
        &_logo {
            margin-bottom: min(4.88vw, 78px);
        }
        &_reg_button {
            margin-bottom: min(3.25vw, 52px);
            width: min(22.25vw, 356px);
            height: min(3.75vw, 60px);
            background-color: #E3FF34;
            border-radius: min(3.13vw, 50px);

        }
        &_menu_list {
            color: #fff;
            gap: min(1.75vw, 28px);
            display: flex;
            margin-bottom: min(3.88vw, 62px);
        }
        &_info_list {
            color: #ccc;
            display: flex;
            gap: min(13.75vw, 220px);
        }
    }
}