@import '../../../../assets/styles/vars.scss';

.container {
    width: min(16.69vw, 267px);
    &_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        &_count {
            color: #E3FF34;
            font-size: min(3.25vw, 52px);
            margin-bottom: $size24px;
        }
        &_title {
            color: #E3FF34;
            font-size: $size24px;
            margin-bottom: min(2.25vw, 36px);
        }
        &_text {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border: 1px solid #fff;
            border-radius: min(1.88vw, 30px);
            width: min(16.69vw, 267px);
            height: min(2.88vw, 46px);
            font-size: $size20px;
        }
    }
}

@media (max-width: 375px) {
    .container {
        width: min(91.47vw, 343px);
        &_inner {
            white-space: nowrap;
            &_text {
                height: max-content;
                border: none;
                font-size: min(4.27vw, 16px);
                font-family: $GRegular;
                width: 100%;
            }
            &_count {
                font-size: min(16vw, 60px);
                font-family: $GSemiBold;
            }
            &_title {
                font-size: min(6.4vw, 24px);
                font-family: $GSemiBold;
            }
        }
    }
    .container_inner_text {
        order: 1;
    }
    .container_inner_count {
        order: 2;
    }
    .container_inner_title {
        order: 3;
    }
}