@import '../../assets/styles/vars.scss';

.container {
    position: fixed;
    z-index: 99;
    bottom: 5%;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    &_inner {
        width: min(71.25vw, 1140px);
        height: min(7.5vw, 120px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: min(2.25vw, 36px);
        background-color: rgba(17, 17, 17, 0.6);
        backdrop-filter: blur(10px);
        border-radius: min(5vw, 80px);
        padding: min(0.63vw, 10px);
        padding-left: min(2.5vw, 40px);
    }
    &_info {
        font-family: $GBold;
        gap: min(2.25vw, 36px);
        display: flex;
        align-items: center;
        span {
            color: #E3FF34;
        }
        img {
            width: min(2.5vw, 40px);
            height: auto;
        }
        &_text {
            color: #fff;
            font-size: $size24px;
        }
    }
    &_timer {
        width: min(38.38vw, 516px);
        height: min(6.25vw, 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #12393B;
        border-radius: min(8.75vw, 140px);
        gap: min(2.38vw, 38px);
        padding: 0 min(1.25vw, 20px);
        &_count {
            font-size: min(3.25vw, 52px);
            white-space: nowrap;
            letter-spacing: -2px;
            color: #fff;
        }
        &_button {
            background-color: #E3FF34;
            width: min(15.25vw, 244px);
            height: min(3.75vw, 50px);
            border-radius: min(3.13vw, 50px);
            border: min(3.25vw, 4px) solid;
            border-color: rgba(255, 255, 255, 0.6);
            font-size: $size16px;
            font-family: $GRegular;
            transition: box-shadow 0.3s ease;
            cursor: pointer;
                
            &:hover {
                box-shadow: 0 4px 16px rgba(227, 255, 52, 0.4); // полупрозрачная тень
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        &_inner {
            width: min(91.47vw, 343px);
            height: min(30.93vw, 116px);
            border-top-left-radius: min(6.4vw, 24px);
            border-top-right-radius: min(6.4vw, 24px);
            border-bottom-left-radius: min(10.67vw, 40px);
            border-bottom-right-radius: min(10.67vw, 40px);
        }
        &_info {
            display: none;
        }
        &_timer {
            width: 100%;
            height: 100%;
            background: none;
            flex-direction: column;
            &_count {
                font-size: min(10.67vw, 40px);
            }
            &_button {
                width: min(82.93vw, 311px);
                height: min(12.8vw, 48px);
                font-size: min(4.27vw, 16px);
                border-radius: min(13.33vw, 50px);

            }
        }
    }
}