@import '../../assets/styles/vars.scss';

.container {
    // width: min(37.69vw, 603px);
    text-align: center;
    font-size: min(2vw, 32px);
    color: #fff;
    margin-bottom: min(7.5vw, 120px);
    margin: 0 auto;
    font-family: $GMedium;
    // white-space: nowrap;
}

@media (max-width: 375px) {
    .container {
        font-size: min(6.4vw, 24px);
    }
}