@import '../../../../assets/styles/vars.scss';

.container {
    width: min(23.75vw, 380px);
    height: min(30.88vw, 494px);
    border-radius: $size20px;
    background-color: #18484A;
    &_inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        &_info {
            padding: $size16px;
            &_tag {
                font-family: $GRegular;
                color: #fff;
                font-size: $size14px;
                text-align: center;
                background-color: #12393B;
                height: min(1.63vw, 26px);
                width: max-content;
                padding: 0 $size8px;
                border-radius: min(1.25vw, 20px);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: min(2.81vw, 45px);
            }
        
            &_title {
                color: #E3FF34;
                font-size: $size24px;
                margin-bottom: $size20px;
                font-family: $GSemiBold;
            }
        
            &_text {
                color: #fff;
                font-size: $size16px;
                font-family: $GRegular;
            }
        }
        &_image {
            position: relative;
            &_photo {
                width: 100%;
                border-radius: $size20px;
            }
            &_icon {        
                position: absolute;
                bottom: 5%;
                right: 5%;
                width: min(3vw, 48px);
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        width: min(67.2vw, 252px);
        height: min(113.07vw, 424px);
        border-radius: min(5.33vw, 20px);
        &_inner {
            &_info {
                padding: min(4.27vw, 16px);
                &_tag {
                    font-size: min(3.73vw, 14px);
                    height: min(6.93vw, 26px);
                    border-radius: min(5.33vw, 20px);
                    padding: 0 min(2.13vw, 8px);
                }
                &_title {
                    font-size: min(6.4vw, 24px);
                }
                &_text {
                    font-size: min(4.27vw, 16px);
                }
            }
        }
    }
}