@import './assets/styles/vars.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

button {
  border: none;
  background: none;
}

body {
  background-color: #12393B;
  padding-bottom: min(1.25vw, 20px);
}
body.locked {
  overflow: hidden;
}